<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="unverifedPods">
      <h3>unverified Podcasts</h3>
      <section>
        <%unverifiedPods.forEach((unverifiedPod)=>{%>
        <div class="card">
          <img src="<%= unverifiedPod.image%>" />
          <p><%= unverifiedPod.title%></p>
          <p><%= unverifiedPod.artist%></p>
          <p><%= unverifiedPod.category%></p>
          <a href="admin/<%= unverifiedPod.id%>">
            <button>Verify</button>
          </a>
        </div>
        <%})%>
      </section>
    </section>
  </body>
</html>
